<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865205848684-9mn54fnc1tbn9gbj2dkkt0ufadkgmbsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865205848684-9mn54fnc1tbn9gbj2dkkt0ufadkgmbsl</string>
	<key>API_KEY</key>
	<string>AIzaSyA6RiwGbmrUFCPjSOZRgi1uP6dBkmAVSc0</string>
	<key>GCM_SENDER_ID</key>
	<string>865205848684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.technospace.iotAgriculture</string>
	<key>PROJECT_ID</key>
	<string>iot-agriculture-faedb</string>
	<key>STORAGE_BUCKET</key>
	<string>iot-agriculture-faedb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865205848684:ios:b19618edc9c0e82f816649</string>
</dict>
</plist>